/* line 12, _/stylesheets/partials/_html5reset.sass */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 21, _/stylesheets/partials/_html5reset.sass */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 27, _/stylesheets/partials/_html5reset.sass */
img, object, embed {
  max-width: 100%;
}

/* line 31, _/stylesheets/partials/_html5reset.sass */
html {
  overflow-y: scroll;
}

/* line 37, _/stylesheets/partials/_html5reset.sass */
ul {
  list-style: none;
}

/* line 40, _/stylesheets/partials/_html5reset.sass */
blockquote, q {
  quotes: none;
}

/* line 43, _/stylesheets/partials/_html5reset.sass */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* line 47, _/stylesheets/partials/_html5reset.sass */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 54, _/stylesheets/partials/_html5reset.sass */
del {
  text-decoration: line-through;
}

/* line 57, _/stylesheets/partials/_html5reset.sass */
abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help;
}

/* line 62, _/stylesheets/partials/_html5reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 65, _/stylesheets/partials/_html5reset.sass */
th {
  font-weight: bold;
  vertical-align: bottom;
}

/* line 68, _/stylesheets/partials/_html5reset.sass */
td {
  font-weight: normal;
  vertical-align: top;
}

/* line 72, _/stylesheets/partials/_html5reset.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 80, _/stylesheets/partials/_html5reset.sass */
input, select {
  vertical-align: middle;
}

/* line 83, _/stylesheets/partials/_html5reset.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 89, _/stylesheets/partials/_html5reset.sass */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 91, _/stylesheets/partials/_html5reset.sass */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

/* line 94, _/stylesheets/partials/_html5reset.sass */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 97, _/stylesheets/partials/_html5reset.sass */
select, input, textarea {
  font: 99% sans-serif;
}

/* line 100, _/stylesheets/partials/_html5reset.sass */
table {
  font-size: inherit;
  font: 100%;
}

/* line 106, _/stylesheets/partials/_html5reset.sass */
a:hover, a:active {
  outline: none;
}

/* line 109, _/stylesheets/partials/_html5reset.sass */
small {
  font-size: 85%;
}

/* line 112, _/stylesheets/partials/_html5reset.sass */
strong, th {
  font-weight: bold;
}

/* line 115, _/stylesheets/partials/_html5reset.sass */
td, td img {
  vertical-align: top;
}

/* line 120, _/stylesheets/partials/_html5reset.sass */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 124, _/stylesheets/partials/_html5reset.sass */
sup {
  top: -0.5em;
}

/* line 126, _/stylesheets/partials/_html5reset.sass */
sub {
  bottom: -0.25em;
}

/* line 130, _/stylesheets/partials/_html5reset.sass */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 134, _/stylesheets/partials/_html5reset.sass */
.clickable, label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 138, _/stylesheets/partials/_html5reset.sass */
button, input, select, textarea {
  margin: 0;
}

/* line 142, _/stylesheets/partials/_html5reset.sass */
button {
  width: auto;
  overflow: visible;
}

/* line 147, _/stylesheets/partials/_html5reset.sass */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 150, _/stylesheets/partials/_html5reset.sass */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

/* line 154, _/stylesheets/partials/_html5reset.sass */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 159, _/stylesheets/partials/_html5reset.sass */
.clearfix:after {
  clear: both;
}

/* line 161, _/stylesheets/partials/_html5reset.sass */
.clearfix {
  zoom: 1;
}

/* line 170, _/stylesheets/partials/_html5reset.sass */
body {
  font: 13px Helmet, Freesans, sans-serif;
}

/* line 177, _/stylesheets/partials/_html5reset.sass */
body, select, input, textarea {
  color: #333333;
}

/* line 180, _/stylesheets/partials/_html5reset.sass */
a {
  color: #0033ff;
}

/* line 182, _/stylesheets/partials/_html5reset.sass */
a:hover {
  color: #6699ff;
}

/* line 186, _/stylesheets/partials/_html5reset.sass */
::-moz-selection {
  background: #fcd700;
  color: white;
  text-shadow: none;
}

/* line 190, _/stylesheets/partials/_html5reset.sass */
::selection {
  background: #fcd700;
  color: white;
  text-shadow: none;
}

/* line 196, _/stylesheets/partials/_html5reset.sass */
a:link {
  -webkit-tap-highlight-color: #fcd700;
}

/* line 199, _/stylesheets/partials/_html5reset.sass */
ins {
  background-color: #fcd700;
  color: black;
  text-decoration: none;
}

/* line 203, _/stylesheets/partials/_html5reset.sass */
mark {
  background-color: #fcd700;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 10, _/stylesheets/style.sass */
body {
  font-size: 75%;
  font-family: sans-serif;
}

/* line 14, _/stylesheets/style.sass */
#page-wrap {
  background: url('/_/images/grid.png');
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 18, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form label {
  font-weight: bold;
}
/* line 19, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.title {
  font-size: 1.5em;
}
/* line 31, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input[type=checkbox], form input.checkbox, form input[type=radio], form input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  margin: 0.5em 0;
}
/* line 59, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password],
form textarea, form select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus, form select:focus {
  border: 1px solid #666666;
}
/* line 48, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  width: 300px;
}
/* line 50, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  width: 390px;
  height: 250px;
}

@media print {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 10pt;
  /* line 52, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  .container {
    background: none;
  }

  /* line 54, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  hr {
    background: #cccccc;
    color: #cccccc;
    width: 100%;
    height: 2px;
    margin: 2em 0;
    padding: 0;
    border: none;
  }
  /* line 62, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  hr.space {
    background: white;
    color: white;
  }

  /* line 65, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

  /* line 67, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  code {
    font-size: 0.9em;
    font-family: "andale mono", "lucida console", monospace;
  }

  /* line 72, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  a img {
    border: none;
  }
  /* line 75, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  a:link, a:visited {
    background: transparent;
    font-weight: 700;
    text-decoration: underline;
  }

  /* line 79, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  p img.top {
    margin-top: 0;
  }

  /* line 81, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  blockquote {
    margin: 1.5em;
    padding: 1em;
    font-style: italic;
    font-size: 0.9em;
  }

  /* line 86, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  .small {
    font-size: 0.9em;
  }

  /* line 88, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  .large {
    font-size: 1.1em;
  }

  /* line 90, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  .quiet {
    color: #999999;
  }

  /* line 92, ../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  .hide {
    display: none;
  }
}

@media screen and (max-device-width: 480px);
@media all and (orientation: portrait);
@media all and (orientation: landscape);
